*{
  padding: 0%;
  margin: 0;
}
body {
  background-color: black;
  color: #ffffff;
}
.navbar {
    background-color: rgb(32, 36, 45);
    border-radius: 5px;
    margin: 10px;  
}
.navbar .nav {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxportfolio{
  margin-left: 15px;
  flex: 3;
}
.navbar .nav .box {
  /* border: 1px solid red; */
  /* float: right; */
  flex: 9;
}
.navbar .nav .box h3{
 margin-left: 15px;
}
.box-info {
  display: flex;
  justify-content: right;
  font-size: 18px;
  margin-right: 55px;
}
.navbar .nav .box a {
  cursor: pointer;
  margin-left: 12px;
  color: white;
  text-decoration: none; 
}
.navbar .nav .box a:hover {   
    color: rgb(207, 28, 28);
}

@media screen and (max-width:700px){
  .boxportfolio{
    display: none;
  }
}
